provider "esxi" {
  esxi_hostname      = "{{ esxi_host }}"
  esxi_hostport      = "22"
  esxi_hostssl       = "443"
  esxi_username      = "{{ esxi_user }}"
  esxi_password      = "{{ esxi_pass }}"
}
