terraform {
  required_version = ">= 0.13"
  required_providers {
    esxi = {
      source = "registry.terraform.io/josenk/esxi"
    }
  }
}

provider "esxi" {
  esxi_hostname      = "{{ esxi_hostname }}"
  esxi_hostport      = "22"
  esxi_hostssl       = "443"
  esxi_username      = "root"
  esxi_password      = "{{ esxi_pass }}"
}

resource "esxi_guest" "controller1" {
  guest_name         = "controller1"
  disk_store         = "datastore1"
  guestos            = "rhel8-64"
  memsize            = "8192"
  numvcpus           = "4"
  power              = "on"
  #ovf_source        = "/local_path/centos-7.vmx"
  network_interfaces {
    virtual_network = "VM Network"
  }
}

resource "esxi_guest" "hub1" {
  guest_name         = "hub1"
  disk_store         = "datastore1"
  guestos            = "rhel8-64"
  memsize            = "8192"
  numvcpus           = "2"
  power              = "on"
  #ovf_source        = "/local_path/centos-7.vmx"
  network_interfaces {
    virtual_network = "VM Network"
  }
}

resource "esxi_guest" "aapdb" {
  guest_name         = "aapdb"
  disk_store         = "datastore1"
  guestos            = "rhel8-64"
  memsize            = "2048"
  numvcpus           = "2"
  power              = "on"
  #ovf_source        = "/local_path/centos-7.vmx"
  network_interfaces {
    virtual_network = "VM Network"
  }
}

resource "esxi_guest" "builder" {
  guest_name         = "builder"
  disk_store         = "datastore1"
  guestos            = "rhel8-64"
  memsize            = "4096"
  numvcpus           = "4"
  power              = "on"
  #ovf_source        = "/local_path/centos-7.vmx"
  network_interfaces {
    virtual_network = "VM Network"
  }
}

resource "esxi_guest" "sso" {
  guest_name         = "sso"
  disk_store         = "datastore1"
  guestos            = "rhel8-64"
  memsize            = "2048"
  numvcpus           = "2"
  power              = "on"
  #ovf_source        = "/local_path/centos-7.vmx"
  network_interfaces {
    virtual_network = "VM Network"
  }
}

resource "esxi_guest" "service_catalog" {
  guest_name         = "service_catalog"
  disk_store         = "datastore1"
  guestos            = "rhel8-64"
  memsize            = "2048"
  numvcpus           = "2"
  power              = "on"
  #ovf_source        = "/local_path/centos-7.vmx"
  network_interfaces {
    virtual_network = "VM Network"
  }
}

resource "esxi_guest" "idm" {
  guest_name         = "idm"
  disk_store         = "datastore1"
  guestos            = "rhel8-64"
  memsize            = "3072"
  numvcpus           = "2"
  power              = "on"
  #ovf_source        = "/local_path/centos-7.vmx"
  network_interfaces {
    virtual_network = "VM Network"
  }
}

#provider "esxi"
# ____________________________________________________________
# esxi_hostname - Required
# esxi_hostport - Optional - Default "22".
# esxi_hostssl - Optional - Default "443".
# esxi_username - Optional - Default "root".
# esxi_password - Required
# ____________________________________________________________

# resource "esxi_resource_pool"
# ____________________________________________________________
# resource_pool_name - Required - The Resource Pool name.
# cpu_min - Optional
# cpu_min_expandable - Optional
# cpu_max - Optional
# cpu_shares - Optional
# mem_min - Optional
# mem_min_expandable - Optional
# mem_max - Optional
# mem_shares - Optional
# ____________________________________________________________

# resource "esxi_virtual_disk"
# ____________________________________________________________
# virtual_disk_disk_store - Required - esxi Disk Store where virtual disk will be created.
# virtual_disk_dir - Required - A subdirectory to contain the virtual disk. (Can be the same as guest_name)
# virtual_disk_name - Optional - Virtual Disk Name. (ext must be .vmdk)
# virtual_disk_size - Optional - Virtual Disk size in GB. Default 1GB.
# virtual_disk_type - Optional - Virtual Disk type. (thin, zeroedthick or eagerzeroedthick) Default 'thin'.
# ____________________________________________________________

# resource "esxi_guest"
# ____________________________________________________________
# guest_name - Required - The Guest name.
# ip_address - Computed - The IP address reported by VMware tools.
# boot_disk_type - Optional - Guest boot disk type. Default 'thin'. Available thin, zeroedthick, eagerzeroedthick.
# boot_disk_size - Optional - Specify boot disk size or grow cloned vm to this size.
# guestos - Optional - Default will be taken from cloned source.
# boot_firmware - Optional - If "efi", enable efi boot. - Default "bios" (BIOS boot)
# clone_from_vm - Source vm to clone. Mutually exclusive with ovf_source option.
# ovf_source - ovf files or URLs to use as a source. Mutually exclusive with clone_from_vm option.
# disk_store - Required - esxi Disk Store where guest vm will be created.
# resource_pool_name - Optional - Any existing or terraform managed resource pool name. - Default "/".
# memsize - Optional - Memory size in MB. (ie, 1024 == 1GB). See esxi documentation for limits. - Default 512 or default taken from cloned source.
# numvcpus - Optional - Number of virtual cpus. See esxi documentation for limits. - Default 1 or default taken from cloned source.
# virthwver - Optional - esxi guest virtual HW version. See esxi documentation for compatible values. - Default 8 or taken from cloned source.
# network_interfaces - Array of up to 10 network interfaces.
# virtual_network - Required for each Guest NIC - This is the esxi virtual network name configured on esxi host.
# mac_address - Optional - If not set, mac_address will be generated by esxi. Be sure to follow VMware mac address rules, otherwise your VM will not start.
# nic_type - Optional - See esxi documentation for compatibility list. - Default "e1000" or taken from cloned source.
# virtual_disks - Optional - Array of additional storage to be added to the guest.
# virtual_disk_id - Required - virtual_disk.id from esxi_virtual_disk resource.
# slot - Required - SCSI_Ctrl:SCSI_id. Range '0:1' to '3:15'. SCSI_id 7 is not allowed.
# power - Optional - on, off.
# guest_startup_timeout - Optional - The amount of guest uptime, in seconds, to wait for an available IP address on this virtual machine. Default 120s.
# guest_shutdown_timeout - Optional - The amount of time, in seconds, to wait for a graceful shutdown before doing a forced power off. Default 20s.
# notes - Optional - The Guest notes (annotation).
# guestinfo - Optional - The Guestinfo root
# metadata - Optional - A JSON string containing the cloud-init metadata.
# metadata.encoding - Optional - The encoding type for guestinfo.metadata. (base64 or gzip+base64)
# userdata - Optional - A YAML document containing the cloud-init user data.
# userdata.encoding - Optional - The encoding type for guestinfo.userdata. (base64 or gzip+base64)
# vendordata - Optional - A YAML document containing the cloud-init vendor data.
# vendordata.encoding - Optional - The encoding type for guestinfo.vendordata (base64 or gzip+base64)
# ovf_properties - Optional - List of ovf properties to override in ovf/ova sources.
# key - Required - Key of the property
# value - Required - Value of the property
# ovf_properties_timer - Optional - Length of time to wait for ovf_properties to process. Default 90s.
# ____________________________________________________________

# resource "esxi_vswitch"
# ____________________________________________________________
# name - Required - The vswitch name.
# ports - Optional - The number of ports available on the vswitch. Default 128.
# mtu - Optional - The mtu. Default 1500
# promiscuous_mode - Optional - Enable Promiscuous Mode (true/false) - Default false
# mac_changes - Optional - Enable MAC Changes (true/false) - Default false.
# forged_transmits - Optional - Enable Forged Transmits (true/false) - Default false.
# uplink - Optional - Array of up to 32 uplinks.
# name - Required - The uplink name. (for example vnic2)
# ____________________________________________________________

# resource "esxi_portgroup"
# ____________________________________________________________
# name - Required - The portgroup name.
# vswitch - Required - The vswitch to connect to.
# vlan - Optional - The vlan id of the portgroup - Default 0.
# ____________________________________________________________