{% if rhel_vms is defined %}
{% for each in rhel_vms %}
data "template_file" "{{ each.name }}" {
  template = file("rhel8-cloud.tpl")
  vars = {
    HOSTNAME = "{{ each.name }}.{{ each.fqdn }}"
  }
}

resource "esxi_guest" "{{ each.name }}" {
  guest_name         = "{{ each.name }}"
  disk_store         = "datastore1"
  boot_disk_type     = "thin"
  guestos            = "rhel8-64"
  boot_firmware      = "efi"
  memsize            = {{ each.mem }}*1024
  numvcpus           = {{ each.cpu }}
  power              = "on"
  clone_from_vm      = "{{ each.clone_vm | default('rhel8_template') }}"
  network_interfaces {
    virtual_network = "VM Network"
  }
  guestinfo = {
    "userdata.encoding" = "gzip+base64"
    "userdata"          = base64gzip(data.template_file.{{ each.name }}.rendered)
  }
}
{% endfor %}
{% endif %}
