{% if rhel9_vms is defined %}
{% for each in rhel9_vms %}
data "template_file" "{{ each.name }}" {
  template = file("rhel9-cloud.tpl")
  vars = {
    HOSTNAME = "{{ each.name }}.{{ each.fqdn }}"
  }
}

resource "esxi_guest" "{{ each.name }}" {
  guest_name         = "{{ each.name }}"
  disk_store         = "{{ each.datastore | default('datastore1') }}"
  boot_disk_type     = "{{ each.disk_type | default('thin') }}"
  guestos            = "rhel9-64"
  boot_firmware      = "efi"
  memsize            = {{ each.mem }}*1024
  numvcpus           = {{ each.cpu }}
  power              = "{{ each.power | default('on') }}"
  clone_from_vm      = "{{ each.clone_vm | default('rhel9_template') }}"
  network_interfaces {
    virtual_network = "{{ each.network | default('VM Network') }}"
  }
  guestinfo = {
    "userdata.encoding" = "gzip+base64"
    "userdata"          = base64gzip(data.template_file.{{ each.name }}.rendered)
  }
}
{% endfor %}
{% endif %}
