{% if ubuntu_vms is defined %}
{% for each in ubuntu_vms %}
data "template_file" "{{ each.name }}" {
  template = file("ubuntu-cloud.tpl")
  vars = {
    HOSTNAME = "{{ each.name }}.{{ each.fqdn | default('local') }}"
  }
}

resource "esxi_guest" "{{ each.name }}" {
  guest_name         = "{{ each.name }}"
  disk_store         = "{{ each.datastore | default('datastore1') }}"
  boot_disk_type     = "{{ each.disk_type | default('thin') }}"
  boot_disk_size     = "{{ each.disk_size | default('20') }}"
  guestos            = "ubuntu-64"
  memsize            = {{ each.mem | default(1) }}*1024
  numvcpus           = {{ each.cpu | default(1) }}
  power              = "{{ each.power | default('on') }}"
  {% if each.notes is defined -%}
  notes              = "{{ each.notes }}"
  {% endif %}
  ovf_source         = "https://cloud-images.ubuntu.com/releases/jammy/release/ubuntu-22.04-server-cloudimg-amd64.ova"
  network_interfaces {
    virtual_network = "{{ each.network | default('VM Network') }}"
  }
  guestinfo = {
    "userdata.encoding" = "gzip+base64"
    "userdata"          = base64gzip(data.template_file.{{ each.name }}.rendered)
  }
}
{% endfor %}
{% endif %}
