#mlock = true
#disable_mlock = true

storage "file" {
  path = "/opt/vault/data"
}

# HTTPS listener
listener "tcp" {
  address       = "0.0.0.0:8200"
  tls_cert_file = "/opt/vault/tls/vault_cert.pem"
  tls_key_file  = "/opt/vault/tls/vault.pem"
}

#api_addr = "https://{{ ansible_default_ipv4['address'] }}:8200"
#cluster_addr = "https://{{ ansible_default_ipv4['address'] }}:8201"
api_addr = "https://{{ ansible_fqdn }}:8200"
cluster_addr = "https://{{ ansible_fqdn }}:8201"
ui = true

